.servicesHeader {
    text-align: center;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
}

.servicesHeader h1 {
    font-weight: normal;
}

.servicesHeader h3 {
    font-weight: normal;
}

.servicesHeader p {
    color: var(--color-grey-2);
    font-size: 1.5rem;
}

.servicesHeader img {
    width: 100%;
    max-width: 90rem;
}
.analytics {
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.analyticsItem {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicesList {
    padding: 5rem 0;
}

.servicesList h3 {
    width: 20rem;
    padding-bottom: 1rem;
}

.servicesListFlex {
    display: flex;
    justify-content: space-between;
}

.servicesListFlex p {
    width: 35rem;
    font-size: 1.1rem;
}

.servicesList h2 {
    font-size: 3rem;
}

.servicesListFlex:not(:last-child) {
    border-bottom: 1px solid var(--color-light-grey);
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

/* Small Devices */
@media (max-width: 600px) {
    .servicesHeader {
        padding-top: 2rem;
    }

    .analyticsItem {
    flex: 1 1 45%;
    }

    .servicesList {
      padding: 2rem 0;
  }
  }


@media (max-width: 1025px) {
    .servicesHeader h1 {
        line-height: 3rem;
        font-size: 3rem;
    }

    .servicesHeader p {
        font-size: 1rem;
    }

    .servicesListFlex {
        flex-direction: column;
    }

    .mainServiceTitle {
        padding-bottom: 3rem;
    }

    .servicesList h3 {
        width: 100%;
    }
    
    .servicesListFlex p {
        width: 100%;
    }
  }
