.card {
    background: transparent;
    padding: 1.5rem;
    border: 1px solid var(--color-light-grey);
    border-radius: var(--border-radius);
}

.cardFlex {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.cardIcon {
    padding: 0 0.5rem;
}