.headerMain {
  backdrop-filter: blur(20px);
  position: fixed;
  width: 100%;
  padding: 0.5rem 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.mobileMenuContainer {
  display: none;
}

.headerMain.dark .headerLogo h1,
.headerMain.dark .navLinks a,
.headerMain.dark .mobileMenuButton .hoverButton,
.headerMain.dark .mobileContactButton .hoverButton {
  color: var(--color-grey);
}

.headerLogo h1 {
  color: var(--color-light);
  font-size: 1.6rem;
  line-height: 1rem;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks a {
  font-size: 0.9rem;
  margin-left: 2rem;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.mobileMenuButton, .mobileContactButton {
  display: none;
}

/* Responsive adjustments */

/* Small and Medium Devices */
@media (max-width: 1024px) {
  .headerMain {
    padding: 0.5rem 2rem;
  }

  .navLinks {
    display: none;
  }

  .headerLogo {
    flex: 1;
  }

  .mobileMenuButton, .mobileContactButton {
    display: block;
  }

  .mobileMenuContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

}

/* Normal Devices */
@media (min-width: 1025px) and (max-width: 2000px) {
  .headerMain {
    padding: 1rem 16rem;
  }

  .navLinks {
    gap: 0.5rem;
  }

  .navTitle {
    font-size: 0.9rem;
  }
}

