* {
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #181818;
  --color-secondary: #1a1a1a;
  --color-light: #f9f9f9;
  --color-grey: #7c7c7c;
  --color-grey-2: #969696;
  --color-light-grey: #e6e6e6;
  --color-light-grey-2: #ccc;
  --transparent-1: rgba(255, 255, 255, 0.1);
  --transparent-2: rgba(255, 255, 255, 0.2);
  --transparent-3: #1a1a1a9f;
  --border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis.ttf') format('truetype');
}

h1 {
  line-height: 6rem;
  font-size: 6rem;
  font-weight: lighter;
}

h2 {
  color: var(--color-secondary);
  font-weight: normal;
}

h3 {
  font-size: 1.2rem;
  color: var(--color-grey);
  font-weight: lighter;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: var(--color-primary);
  line-height: 1.6;
  color: var(--color-light);

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 5rem
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexColumn {
  gap: 4rem;
  display: flex;
  flex-direction: column;

}

.blackTitle {
  color: var(--color-primary);
}

.centeredText {
  text-align: center;
}

.hoverLink {
  display: inline-block;
  position: relative;
  z-index: 1;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}

.defaultHeader {
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding-top: 5rem;
}

.defaultHeader h1 {
  font-weight: normal;
}

.defaultHeader h3 {
  font-weight: normal;
}

.defaultHeader p {
  width: 60rem;
  color: var(--color-grey-2);
  font-size: 1.5rem;
}

.defaultHeader img {
  width: 100%;
  max-width: 90rem;
}

/* Small Devices */
@media (max-width: 1025px) {
  .defaultHeader h1 {
      line-height: 3rem;
      font-size: 3rem;
  }

  .defaultHeader p {
      width: 20rem;
      font-size: 1rem;
  } }


.defaultPadding {
  padding: 5rem 35rem;
}

/* Small Devices */
@media (max-width: 1024px)  {
  .defaultPadding {
    padding: 2rem;
  }
}
/* Normal Devices */
@media (min-width: 1025px) and (max-width: 2000px) {
  .defaultPadding {
    padding: 5rem 16rem;
  }
}

.defaultResponsiveFlex {
  padding-top: 4rem;
  gap: 10rem;
  align-items: stretch;
  display: flex;

  justify-content: space-between;
}

.defaultResponsiveFlex h3{
  width: 30rem;
}

@media (max-width: 1024px) {
  .defaultResponsiveFlex {
    flex-direction: column;
    gap: 2rem;
  }

  .defaultResponsiveFlex h3{
    width: auto;
  }}

.whiteBoard {
  padding: 3rem 35rem;
  background-color: var(--color-light)
}

.whiteBoard p {
  color: var(--color-grey);
}

.whiteBoard h1 {
  line-height: 3.5rem;
  font-weight: normal;
  font-size: 2.5rem;
  color: var(--color-primary);
}

.whiteBoard h3 {
  line-height: 1.5rem;
}

/* Small Devices */
@media (max-width: 600px) {
  .whiteBoard {
    padding: 2rem;
  }
}

/* Medium Devices */
@media (max-width: 1024px) {
  .whiteBoard {
    padding: 5rem 2rem;
  }
}

/* Normal Devices */
@media (min-width: 1025px) and (max-width: 2000px) {
  .whiteBoard {
    padding: 5rem 16rem;
  }
}

.hoverLink:before {
  display: block;
  content: '';
  width: 0;
  height: 1px;
  bottom: 1px;
  left: 0;
  bottom: -1px;
  z-index: 0;
  position: absolute;
  background: var(--color-light);
  transition: all 0.3s ease-in-out;
}

.hoverLink:hover {
  background-position: 0%;
}

.hoverLink:hover:before {
  width: 100%;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradientBackground {
  background: conic-gradient(
    hsl(60, 100%, 65%),
    hsl(120, 100%, 55%),
    hsl(60, 100%, 65%)
    ) fixed;
    background-size: 200% 200%;
    animation: moveGradient 4s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradientBackground-2 {
    background: conic-gradient(
      hsl(198, 74%, 50%),
      hsl(145, 60%, 50%),
    hsl(198, 74%, 50%)
      ) fixed;
      background-size: 200% 200%;
      animation: moveGradient 4s ease infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }