* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #181818;
  --color-secondary: #1a1a1a;
  --color-light: #f9f9f9;
  --color-grey: #969696;
  --transparent-1: rgba(255, 255, 255, 0.1);
  --transparent-2: rgba(255, 255, 255, 0.2);
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Reef';
  src: url('./fonts/Reef.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-weight: normal;
}

body {
  font-family: 'Reef', sans-serif;
  background-color: var(--color-primary);
  line-height: 1.6;
  color: var(--color-light);

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 5rem
}