* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #181818;
  --color-secondary: #1a1a1a;
  --color-light: #f9f9f9;
  --color-grey: #7c7c7c;
  --color-grey-2: #969696;
  --color-light-grey: #e6e6e6;
  --transparent-1: rgba(255, 255, 255, 0.1);
  --transparent-2: rgba(255, 255, 255, 0.2);
  --border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis.ttf') format('truetype');
}

h1 {
  font-weight: lighter;
}

h2 {
  color: var(--color-secondary);
  font-weight: normal;
}

h3 {
  font-size: 1.2rem;
  color: var(--color-grey);
  font-weight: lighter;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: var(--color-primary);
  line-height: 1.6;
  color: var(--color-primary);

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 5rem
}