.hoverButton {
  font-size: 0.8rem;
    text-decoration: none;
    color: var(--color-light);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
    border-radius: var(--border-radius); 
  }

  /* Variant 1: Default */
.hoverButton.default {
  color: var(--color-light);
}

.hoverButton.default:hover .textUp {
  transform: translateY(-100%);
}

.hoverButton.default:hover .textDown {
  transform: translateY(-100%);
}

/* Variant 2: Ghost */
.hoverButton.ghost {
  background-color: var(--transparent-1);
  border: 0.50px solid var(--transparent-1);
  color: white;
}

.hoverButton.ghost:hover {
  background-color: var(--transparent-2);
  border-color: var(--transparent-2);
}

.hoverButton.ghost:hover .textUp {
  transform: translateY(-100%);
}

.hoverButton.ghost:hover .textDown {
  transform: translateY(-100%);
}

  
.hoverButtonContent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
.hoverButtonTitle {
    position: relative;
    overflow: hidden;
  }
  
.hoverButtonTitle .textUp,
.hoverButtonTitle .textDown {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
  }
  
.hoverButtonTitle .textUp {
    transform: translateY(0);
  }
  
.hoverButtonTitle .textDown {
    position: absolute;
    left: 0;
    top: 100%; /* Start below the view */
    transform: translateY(0);
  }
  
.hoverButton:hover .textUp {
    transform: translateY(-100%);
  }
  
.hoverButton:hover .textDown {
    transform: translateY(-100%);
  }