.hoverButton {
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-light);
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  transition: color 0.3s ease-in-out;
  border-radius: var(--border-radius); 
  width: auto;
}

/* Ghost Variant */
.hoverButton.ghost {
  background-color: var(--transparent-1);
  border: 0.50px solid var(--transparent-1);
}

.hoverButton.ghost:hover {
  background-color: var(--transparent-2);
  border-color: var(--transparent-2);
}

/* Black Variant */
.hoverButton.black {
  background-color: var(--color-primary);
  border: 0.50px solid var(--transparent-1);
}

/* white Variant */
.hoverButton.white {
  color: var(--color-primary);
  background-color: var(--color-light);
}

/* Arrow Variant */
.hoverButton.arrow {
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--color-primary);
  gap: 0.5rem;
}

/* black Arrow Variant */
.hoverButton.arrow-black {
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--color-primary);
  gap: 0.5rem;
}

/* Inverted Arrow Variant */
.hoverButton.arrow-inv {
  height: 2rem;
  font-size: 1rem;
  background-color: var(--color-light);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Arrow White Variant */
.hoverButton.arrow-white {
  font-size: 1.1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Shared Hover Effects for Text Animation */
.hoverButton:hover .textUp,
.hoverButton:hover .textDown {
  transform: translateY(-100%);
}

/* Text Animation */
.hoverButtonTitle {
  position: relative;
  overflow: hidden;
}

.hoverButtonTitle .textUp,
.hoverButtonTitle .textDown {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.hoverButtonTitle .textUp {
  transform: translateY(0);
}

.hoverButtonTitle .textDown {
  position: absolute;
  left: 0;
  top: 100%; /* Start below the view */
  transform: translateY(0);
}

/* Icon Animation for Arrow Variant */
.hoverButton.arrow .icon,
.hoverButton.arrow-white .icon,
.hoverButton.arrow-inv .icon,
.hoverButton.arrow-black .icon {
  transition: transform 0.3s ease-in-out;
}

.hoverButton.arrow:hover .icon,
.hoverButton.arrow-white:hover .icon,
.hoverButton.arrow-inv:hover .icon,
.hoverButton.arrow-black:hover .icon {
  transform: rotate(45deg);
}

/* Icon Style for Arrow-black Variant */
.hoverButton.arrow-black .icon {
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: 50%;
  padding: 5px;
  font-size: 1.3rem;
}

/* Icon Style for Arrow-White and up Variant */
.hoverButton.arrow-white .icon,
.hoverButton.arrow-up .icon {
  background-color: var(--transparent-1);
  border: 1px solid var(--transparent-2);
  border-radius: 50%;
  padding: 5px;
  font-size: 1.3rem;
}

.hoverButton.arrow-up .icon {
  background-color: var(--transparent-1);
  border: 1px solid var(--transparent-2);
  border-radius: 50%;
  padding: 5px;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.hoverButton.arrow-up:hover .icon {
  transform: translateY(-4px);
}

.hoverButton.arrow-up {
  font-size: 1.1rem;
}

/* Hover Button Content */
.hoverButtonContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
